<h1>Songs</h1>
<table>
  <thead>
  </thead>
  <tbody>
    <tr>
      <% @songs.each do |song| %>
        <td><%= link_to song.title, song_path(song) %></td>
      <% end %>
    </tr>
  </tbody>
  <tfoot>
  </tfoot>
</table>
